<div class="well">
<h4>{{ site.name }}</h4>

{% for member in site.data.pi %}
<div class="row">
  <a href="{{site.url}}{{site.baseurl}}/about"><img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.photo-small }}" class="img-responsive" width="80%" style="block:inline; margin-left:auto; margin-right:auto;" /></a>
  <center><h4>{{ member.name }}</h4>

   {% if member.website %}<a href="{{ member.website }}" target="_blank"><i class="fa fa-home fa-2x"></i></a> {% endif %}
   {% if member.email %}<a href="mailto:{{ member.email }}" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a> {% endif %}
   {% if member.scholar %} <a href="{{ member.scholar }}" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a> {% endif %}
   {% if member.cv %} <a href="{{ member.cv }}" target="_blank"><i class="ai ai-cv-square ai-2x"></i></a> {% endif %}
   {% if member.github %} <a href="{{ member.github }}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a> {% endif %}
   {% if member.researchgate %} <a href="{{ member.researchgate }}" target="_blank"><i class="ai ai-researchgate-square ai-2x"></i></a> {% endif %}
  </center>
  <div style="overflow: hidden; padding-left: 15px; padding-right: 0px">
  {% if member.number_educ == 1 %}
  {{ member.education1short }} </br>
  {% endif %}

  {% if member.number_educ == 2 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {% endif %}

  {% if member.number_educ == 3 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {{ member.education3short }} </br>
  {% endif %}

  {% if member.number_educ == 4 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {{ member.education3short }} </br>
  {{ member.education4short }} </br>
  {% endif %}

  {% if member.number_educ == 5 %}
  {{ member.education1short }}</br>
  {{ member.education2short }}</br>
  {{ member.education3short }}</br>
  {{ member.education4short }}</br>
  {{ member.education5short }}</br>
  {% endif %}

  {% if member.number_educ == 6 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {{ member.education3short }} </br>
  {{ member.education4short }} </br>
  {{ member.education5short }} </br>
  {{ member.education6short }} </br>
  {% endif %}
  </div>
</div>

{% endfor %}
</div>

<!--<div class="well">
 <h4>News</h4>

  {% for article in site.data.news limit:4 %}
  <strong>{{ article.date }}</strong>
    <p>{{ article.headline }}</p>
  {% endfor %}
  
  <a href="{{ site.url }}{{ site.baseurl }}/allnews.html">...see all news</a>

</div> -->

<a class="twitter-timeline" data-width="280" data-height="400" data-theme="dark" href="https://twitter.com/bazilinskyy?ref_src=twsrctfw">Tweets by bazilinskyy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="well">
<h4>Upcoming Events</h4>
  {% for article in site.data.events limit:5 %}
  <strong>{{ article.date }}</strong>
    <p>{{ article.headline }}<br/>
    <i>{{ article.location }}</i></p>
  {% endfor %}
</div>

